.popUpContainer {
  background: none;
  position: relative;

  .popUpButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;

    svg {
      fill: #10031b;
      width: 20px;
      height: 20px;
      // width: 25px;
      // height: 25px;
    }
  }

  .bagContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    .bagWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 1rem;
      width: 85%;
      height: 80%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 10px;
      font-family: var(--font-poppins);
      transition: all 0.8s ease;
      .bagHeader {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .bagTitle {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .closeBtn {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          opacity: 0.8;
          background-color: #c0c0be;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 25px;
            height: 25px;
          }
          &:hover {
            opacity: 1;
          }
        }
      }

      .bagMain {
        width: 100%;
        height: 600px;
        flex-grow: 1;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
