.categoriesSection {
  width: 100%;
  height: max-content;
  padding: 4rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--dongle-font);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color-1);
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
    .titleBg {
      .text {
        position: relative;
        left: 3px;
      }
      width: max-content;
      height: max-content;
      padding: 1rem;
      color: #fff;
      background-image: url("data:image/svg+xml,%3C!--%3Fxml version='1.0' standalone='no'%3F--%3E%3Csvg id='sw-js-blob-svg' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient' x1='0' x2='1' y1='1' y2='0'%3E%3Cstop id='stop1' stop-color='rgba(250, 128, 114, 1)' offset='0%25'%3E%3C/stop%3E%3Cstop id='stop2' stop-color='rgba(214, 40, 40, 1)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23sw-gradient)' d='M19.8,-29.6C26.5,-26.4,33.6,-22.5,38.3,-16.3C43.1,-10.1,45.5,-1.6,42.5,4.8C39.5,11.1,31,15.3,24.4,18.9C17.8,22.4,13,25.4,7.7,27.5C2.4,29.6,-3.5,30.9,-10,30.6C-16.4,30.2,-23.3,28.2,-28.6,23.8C-33.9,19.5,-37.6,12.7,-38.3,5.7C-39.1,-1.4,-37,-8.7,-33.2,-14.3C-29.3,-20,-23.7,-24.1,-17.9,-27.6C-12,-31.2,-6,-34.3,0.2,-34.7C6.5,-35,13,-32.7,19.8,-29.6Z' width='100%25' height='100%25' transform='translate(50 50)' stroke-width='0' style='transition: all 0.3s ease 0s;' stroke='url(%23sw-gradient)'%3E%3C/path%3E%3C/svg%3E");
      background-position: center;
      background-origin: border-box;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .categoriesMain {
    width: 95%;
    height: 500px;
    gap: 5px;
    display: grid;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'Ar1 Ar2' 'Ar1 Ar3' 'Ar4 Ar4';
    .categoriesCard {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      position: relative;

      .cardBtn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        margin-bottom: 1rem;
        border-radius: 5px;
        width: max-content;
        height: max-content;
        padding: 0.5rem 0.75rem;
        background-color: var(--main-color);
        font-family: var(--poppins-font);
        color: #fff;
        box-shadow: var(--shadow-4);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
      &:hover {
        opacity: 0.7;
      }
      &:first-child {
        grid-area: Ar2;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(2) {
        grid-area: Ar1;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(3) {
        grid-area: Ar3;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(4) {
        grid-area: Ar4;
        display: none;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(5) {
        grid-area: Ar5;
        display: none;
        img {
          width: 100%;
          height: auto;
        }
      }
      &:last-child {
        grid-area: Ar4;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .categoriesSection {
    padding: 6rem 0.5rem;

    .sectionTitle {
      font-size: 4.5rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
      .titleBg {
        .text {
          position: relative;
          left: 5px;
        }
        width: max-content;
        height: max-content;
        padding: 1.5rem;
        color: #fff;
      }
    }

    .categoriesMain {
      width: 85%;
      height: 500px;
      gap: 12px;
      display: grid;
      grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4) calc(
          100% / 4
        );
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'Ar1 Ar2 Ar3 Ar4' 'Ar5 Ar2 Ar6 Ar6';
      .categoriesCard {
        overflow: hidden;

        &:first-child {
          grid-area: Ar1;
        }
        &:nth-child(2) {
          grid-area: Ar2;
        }
        &:nth-child(3) {
          grid-area: Ar3;
        }
        &:nth-child(4) {
          grid-area: Ar4;
          display: block;
        }
        &:nth-child(5) {
          grid-area: Ar5;
          display: block;
        }
        &:last-child {
          grid-area: Ar6;
        }
      }
    }
  }
}
