.categoriesSection {
  width: 100%;
  height: max-content;
  padding: 4rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sectionTitle {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--poppins-font);
    color: var(--text-color-1);
    font-weight: 700;
    padding: 1rem 0 3rem 0;
    span {
      color: var(--main-color);
    }
  }

  .categoriesMain {
    width: 95%;
    height: 500px;
    gap: 5px;
    display: grid;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'Ar1 Ar2' 'Ar1 Ar3' 'Ar4 Ar4';
    .categoriesCard {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      position: relative;

      .cardBtn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        margin-bottom: 1rem;
        border-radius: 5px;
        width: max-content;
        height: max-content;
        padding: 0.5rem 0.75rem;
        background-color: var(--main-color);
        font-family: var(--poppins-font);
        color: #fff;
        box-shadow: var(--shadow-4);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
      img {
        object-fit: cover;
      }
      //
      &:hover {
        img {
          opacity: 0.7;
        }
      }

      &:first-child {
        grid-area: Ar2;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(2) {
        grid-area: Ar1;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(3) {
        grid-area: Ar3;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(4) {
        grid-area: Ar4;
        display: none;
        img {
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(5) {
        grid-area: Ar5;
        display: none;
        img {
          width: 100%;
          height: auto;
        }
      }
      &:last-child {
        grid-area: Ar4;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .categoriesSection {
    padding: 6rem 0.5rem;

    .sectionTitle {
      width: 100%;
      font-size: 2rem;
      text-align: center;
    }

    .categoriesMain {
      width: 85%;
      height: 500px;
      gap: 12px;
      display: grid;
      grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4) calc(
          100% / 4
        );
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'Ar1 Ar2 Ar3 Ar4' 'Ar5 Ar2 Ar6 Ar6';
      .categoriesCard {
        overflow: hidden;

        &:first-child {
          grid-area: Ar1;
        }
        &:nth-child(2) {
          grid-area: Ar2;
        }
        &:nth-child(3) {
          grid-area: Ar3;
        }
        &:nth-child(4) {
          grid-area: Ar4;
          display: block;
        }
        &:nth-child(5) {
          grid-area: Ar5;
          display: block;
        }
        &:last-child {
          grid-area: Ar6;
        }
      }
    }
  }
}
