.darkModeBtn {
  height: 40px;
  width: 40px;
  box-shadow: var(--shadow-3);
  background-color: var(--background-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: var(--text-color-1);
    width: 25px;
    height: 25px;
  }
}
