.slider {
  margin-top: 3rem;
  width: 100%;
  height: max-content;
  display: grid;
  place-items: center;

  //
  .sliderHeader {
    width: 100%;
    padding: 1rem 0;
    height: max-content;
    display: grid;
    place-items: center;
    position: relative;

    .sliderTitle {
      width: 100%;
      font-size: 1.5rem;
      text-align: left;
      font-family: var(--poppins-font);
      color: var(--text-color-1);
      font-weight: 700;
      padding: 1rem 0.75rem;
      span {
        color: var(--main-color);
      }
    }

    .sliderMore {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: max-content;
      position: absolute;
      right: 0;
      gap: 10px;
      padding-right: 0.5rem;
      .sliderLeftBtn,
      .sliderRightBtn {
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: var(--shadow-3);
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
          fill: var(--main-color);
        }
        &:hover {
          opacity: 0.9;
        }
        &:active {
          box-shadow: none;
        }
      }
    }
  }

  //
  .sliderContainer {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 260px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    //
    .sliderWrapper {
      height: auto;
      position: relative;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      transition: 0 ease-in;
      padding: 10px;
    }
  }

  //
  .sliderFooter {
    width: 100%;
    height: max-content;
    padding: 2rem;
    display: grid;
    place-items: center;
    .sliderBtn {
      border-radius: 10px;
      width: max-content;
      height: max-content;
      padding: 0.5rem 0.75rem;
      background-color: var(--main-color);
      font-family: var(--poppins-font);
      color: #fff;
      box-shadow: var(--shadow-2);
      transform: rotateZ(-5deg);
      font-weight: 600;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    padding: 6rem 0.5rem;
    .sliderHeader {
      margin-bottom: 1rem;
      .sliderTitle {
        width: 100%;
        font-size: 2rem;
        text-align: center;
      }

      .sliderMore {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: max-content;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-25%, 50%);
        gap: 10px;
      }
    }
  }
}
