.slider {
  margin-top: 3rem;
  width: 100%;
  height: max-content;
  display: grid;
  place-items: center;

  //
  .sliderHeader {
    width: 100%;
    padding: 1rem 0;
    height: max-content;
    display: grid;
    place-items: center;
    position: relative;

    .sliderTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-family: var(--dongle-font);
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--text-color-1);
      width: 100%;
      text-align: center;
      .titleBg {
        .text {
          position: relative;
          left: 3px;
        }
        width: max-content;
        height: max-content;
        padding: 1rem;
        color: #fff;
        background-image: url("data:image/svg+xml,%3C!--%3Fxml version='1.0' standalone='no'%3F--%3E%3Csvg id='sw-js-blob-svg' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient' x1='0' x2='1' y1='1' y2='0'%3E%3Cstop id='stop1' stop-color='rgba(250, 128, 114, 1)' offset='0%25'%3E%3C/stop%3E%3Cstop id='stop2' stop-color='rgba(214, 40, 40, 1)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23sw-gradient)' d='M19.8,-29.6C26.5,-26.4,33.6,-22.5,38.3,-16.3C43.1,-10.1,45.5,-1.6,42.5,4.8C39.5,11.1,31,15.3,24.4,18.9C17.8,22.4,13,25.4,7.7,27.5C2.4,29.6,-3.5,30.9,-10,30.6C-16.4,30.2,-23.3,28.2,-28.6,23.8C-33.9,19.5,-37.6,12.7,-38.3,5.7C-39.1,-1.4,-37,-8.7,-33.2,-14.3C-29.3,-20,-23.7,-24.1,-17.9,-27.6C-12,-31.2,-6,-34.3,0.2,-34.7C6.5,-35,13,-32.7,19.8,-29.6Z' width='100%25' height='100%25' transform='translate(50 50)' stroke-width='0' style='transition: all 0.3s ease 0s;' stroke='url(%23sw-gradient)'%3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .sliderMore {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: max-content;
      position: absolute;
      right: 0;
      gap: 10px;
      padding-right: 0.5rem;
      .sliderLeftBtn,
      .sliderRightBtn {
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: var(--shadow-3);
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
          fill: var(--main-color);
        }
        &:hover {
          opacity: 0.9;
        }
        &:active {
          box-shadow: none;
        }
      }
    }
  }

  //
  .sliderContainer {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 260px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    //
    .sliderWrapper {
      height: auto;
      position: relative;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      transition: 0 ease-in;
      padding: 10px;
    }
  }

  //
  .sliderFooter {
    width: 100%;
    height: max-content;
    padding: 2rem;
    display: grid;
    place-items: center;
    .sliderBtn {
      border-radius: 10px;
      width: max-content;
      height: max-content;
      padding: 0.5rem 0.75rem;
      background-color: var(--main-color);
      font-family: var(--poppins-font);
      color: #fff;
      box-shadow: var(--shadow-2);
      transform: rotateZ(-5deg);
      font-weight: 600;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    padding: 6rem 0.5rem;
    .sliderHeader {
      margin-bottom: 2.5rem;
      .sliderTitle {
        font-size: 3rem;
        font-weight: 600;

        justify-content: center;
        .titleBg {
          .text {
            position: relative;
            left: 5px;
          }
          width: max-content;
          height: max-content;
          padding: 1.5rem;
          color: #fff;
        }
      }

      .sliderMore {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: max-content;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 100%);
        gap: 10px;
      }
    }
  }
}
