//Upload Fonts
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

// Set Root Variables
:root {
  // Fonts
  --righteous-font: 'Righteous', cursive;
  --dongle-font: 'Dongle', sans-serif;
  --poppins-font: 'Poppins', sans-serif;

  // Box Shadow
  --shadow-1: #00000026 0px 3px 3px 0px;
  --shadow-2: #0000001f 0px 1px 3px, #0000003d 0px 1px 2px;
  --shadow-3: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  // Colors
  --background-color: #ffffff;
  --background-color-2: #fdfdfd;
  --text-color-0: #222;
  --text-color-1: #14213d;
  --text-color-2: #b9bbbe;
  --text-color-3: #61656b;
  --text-color-4: #14213d;
  --link-active-color: #ec3434e0;
  --btn-bg-color: #222;
  --btn-color: #fff;

  //
  --color-one: #ec3434e0;
  --color-active: #ec3434e0;
  --color-white-primary: #ffffff;
  --color-white-secondary: #f0f8ff;
  --color-dark-primary: #212529;
  --color-red-primary: #ec3434e0;
  --color-blue-primary: #5f9ea0;
  --sds-color: #f4a460;
}
.dark {
  // Colors
  --background-color: #36393f;
  --background-color-2: #3c4247;
  --text-color-0: #f0f3f7;
  --text-color-1: #fff;
  --text-color-2: #b9bbbe;
  --text-color-3: #61656b;
  --text-color-4: #14213d;
  --link-active-color: #f8a3a3e0;

  //
  --color-main: #14213d;
  --color-text: #b9bbbe;
  --color-active: #f8a3a3e0;
  --color-one: #d18989e0;
  --color-white-primary: #38e232;
  --color-white-secondary: #4a88be;
  --color-dark-primary: #212529;
  --color-red-primary: #ec3434e0;
}

//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
}
#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}
