@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap");
:root {
  --righteous-font: 'Righteous', cursive;
  --dongle-font: 'Dongle', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --shadow-1: #00000026 0px 3px 3px 0px;
  --shadow-2: #0000001f 0px 1px 3px, #0000003d 0px 1px 2px;
  --background-color: #ffffff;
  --text-color-1: #14213d;
  --text-color-2: #b9bbbe;
  --text-color-3: #61656b;
  --text-color-4: #14213d;
  --link-active-color: #ec3434e0;
  --btn-bg-color: #222;
  --btn-color: #fff;
  --color-one: #ec3434e0;
  --color-active: #ec3434e0;
  --color-white-primary: #ffffff;
  --color-white-secondary: #f0f8ff;
  --color-dark-primary: #212529;
  --color-red-primary: #ec3434e0;
  --color-blue-primary: #5f9ea0;
  --sds-color: #f4a460;
}

.dark {
  --background-color: #36393f;
  --text-color-1: #fff;
  --text-color-2: #b9bbbe;
  --text-color-3: #61656b;
  --text-color-4: #14213d;
  --link-active-color: #f8a3a3e0;
  --color-main: #14213d;
  --color-text: #b9bbbe;
  --color-active: #f8a3a3e0;
  --color-one: #d18989e0;
  --color-white-primary: #38e232;
  --color-white-secondary: #4a88be;
  --color-dark-primary: #212529;
  --color-red-primary: #ec3434e0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
}

#root,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}

header {
  width: 100%;
  min-height: 10vh;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--background-color);
}

header #showNav {
  display: none;
}

header .menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue-primary);
  cursor: pointer;
}

header .menuBtn svg {
  fill: var(--background-color);
  width: 20px;
  height: 20px;
}

header .handleNavigator {
  position: fixed;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 90%;
  background-color: var(--background-color);
  border-top: 1px solid var(--text-color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

header #showNav:checked ~ .handleNavigator {
  position: absolute;
  height: 90%;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 950px) {
  header {
    width: 90vw;
    height: 60px;
    margin-bottom: 20px;
    padding: 0;
  }
  header .menuBtn {
    display: none;
  }
  header #showNav:checked ~ .handleNavigator,
  header #showNav:not(:checked) ~ .handleNavigator {
    left: 0;
  }
  header .handleNavigator {
    height: 60px;
    width: auto;
    border: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.brandLogo {
  font-family: var(--righteous-font);
  color: var(--text-color-1);
  font-weight: 500;
  font-size: 2rem;
  text-transform: lowercase;
}

@media (min-width: 950px) {
  .brandLogo {
    font-size: 2.1rem;
    width: 10vw;
  }
}

@-webkit-keyframes activeBtnIn {
  from {
    font-size: 2rem;
    color: var(--text-color-1);
  }
  to {
    color: var(--link-active-color);
    font-size: 2.5rem;
  }
}

@keyframes activeBtnIn {
  from {
    font-size: 2rem;
    color: var(--text-color-1);
  }
  to {
    color: var(--link-active-color);
    font-size: 2.5rem;
  }
}

@-webkit-keyframes activeBtnOut {
  from {
    color: var(--link-active-color);
    font-size: 2.5rem;
  }
  to {
    font-size: 2rem;
    color: var(--text-color-1);
  }
}

@keyframes activeBtnOut {
  from {
    color: var(--link-active-color);
    font-size: 2.5rem;
  }
  to {
    font-size: 2rem;
    color: var(--text-color-1);
  }
}

.sectionsNav {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
}

.sectionsNav a {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--dongle-font);
  color: var(--text-color-1);
  -webkit-animation: activeBtnOut 0.2s cubic-bezier(0.86, 0.47, 0.01, 0.75);
          animation: activeBtnOut 0.2s cubic-bezier(0.86, 0.47, 0.01, 0.75);
}

.sectionsNav .active {
  color: var(--link-active-color);
  font-size: 2.5rem;
  -webkit-animation: activeBtnIn 0.2s cubic-bezier(0.86, 0.47, 0.01, 0.75);
          animation: activeBtnIn 0.2s cubic-bezier(0.86, 0.47, 0.01, 0.75);
}

@media screen and (min-width: 950px) {
  .sectionsNav {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectionsNav a {
    position: relative;
    top: 5px;
    padding-right: 2.5rem;
  }
}

.headerButtonContainer {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
}

.headerButtonContainer .headerBtn {
  margin: 0 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-secondary);
          box-shadow: var(--shadow-secondary);
  background-color: var(--text-color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerButtonContainer .headerBtn:hover {
  background-color: var(--color-white-secondary);
}

.headerButtonContainer .headerBtn svg {
  fill: var(--background-color);
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 950px) {
  .headerButtonContainer {
    width: auto;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerButtonContainer .headerBtn {
    background-color: var(--background-color);
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 35px;
    height: 35px;
  }
  .headerButtonContainer .headerBtn svg {
    fill: var(--text-color-1);
  }
  .headerButtonContainer .headerBtn:hover {
    border: 1px solid var(--color-text);
  }
}

main {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main {
    width: 90vw;
  }
}

.homeHeader {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--text-color-1);
  overflow: hidden;
}

.homeHeader .homeHeaderArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  padding: 1.5rem;
}

.homeHeader .homeHeaderArticle .articleTitle {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.homeHeader .homeHeaderArticle .description {
  width: 100%;
  font-size: 1.4rem;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  margin: 1rem 0;
}

.homeHeader .homeHeaderArticle .homeHeaderBtn {
  font-family: var(--poppins-font);
  font-size: 0.9rem;
  width: auto;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 600;
  min-height: 44px;
  min-width: 10px;
  padding: 9px 20px 8px;
}

.homeHeader .homeHeaderArticle .homeHeaderBtn:hover, .homeHeader .homeHeaderArticle .homeHeaderBtn:focus {
  opacity: 0.85;
}

.homeHeader .presentationSection {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
}

.homeHeader .presentationSection .mainImg {
  width: 100%;
  height: auto;
  min-width: 200px;
}

.homeHeader .presentationSection .cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homeHeader .presentationSection .cards .presCard {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--poppins-font);
  padding: 5px;
  text-align: justify;
  height: auto;
  min-height: 50px;
  width: auto;
  max-width: 45%;
}

.homeHeader .presentationSection .cards .presCard:nth-child(1) {
  background-color: #cdf008;
  border-radius: 10px 10px 0 10px;
  left: 4%;
}

.homeHeader .presentationSection .cards .presCard:nth-child(2) {
  background-color: #046630;
  border-radius: 10px 10px 10px 0;
  left: 52%;
}

.homeHeader .presentationSection .cards .presCard:nth-child(3) {
  background-color: #dd7928;
  border-radius: 10px 0 10px 10px;
  left: 4%;
}

.homeHeader .presentationSection .cards .presCard:nth-child(4) {
  background-color: #95e639;
  border-radius: 0 10px 10px 10px;
  left: 52%;
}

@media screen and (min-width: 765px) {
  .homeHeader {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    -webkit-box-shadow: var(--shadow-1);
            box-shadow: var(--shadow-1);
  }
  .homeHeader .homeHeaderArticle {
    width: 45%;
    height: 100%;
    padding: 1.5rem;
  }
  .homeHeader .homeHeaderArticle .articleTitle {
    width: 100%;
    font-size: 3rem;
  }
  .homeHeader .homeHeaderArticle .description {
    width: 100%;
    font-size: 1.5rem;
  }
  .homeHeader .homeHeaderArticle .homeHeaderBtn {
    font-size: 1rem;
  }
  .homeHeader .presentationSection {
    width: 55%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
    padding: 0;
  }
  .homeHeader .presentationSection .mainImg {
    height: 100%;
    min-height: 200px;
    width: auto;
  }
  .homeHeader .presentationSection .cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .homeHeader .presentationSection .cards .presCard {
    position: relative;
    top: 0;
    left: 0;
    font-family: var(--poppins-font);
    padding: 5px;
    text-align: justify;
    height: auto;
    min-height: 50px;
    width: auto;
    max-width: 45%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(1) {
    top: 5%;
    left: 2%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(2) {
    top: -10%;
    left: 52%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(3) {
    top: 10%;
    left: 2%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(4) {
    top: -5%;
    left: 52%;
  }
}

@media screen and (min-width: 1024px) {
  .homeHeader {
    height: 500px;
  }
  .homeHeader .homeHeaderArticle {
    width: 45%;
    padding: 1.5rem;
  }
  .homeHeader .homeHeaderArticle .articleTitle {
    width: 100%;
    font-size: 3.85rem;
  }
  .homeHeader .homeHeaderArticle .description {
    width: 100%;
    font-size: 1.8rem;
  }
  .homeHeader .homeHeaderArticle .homeHeaderBtn {
    font-size: 1.1rem;
  }
  .homeHeader .presentationSection {
    width: 55%;
    height: 100%;
  }
  .homeHeader .presentationSection .mainImg {
    height: 100%;
    min-height: 200px;
    width: auto;
  }
  .homeHeader .presentationSection .cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .homeHeader .presentationSection .cards .presCard {
    position: relative;
    top: 0;
    left: 0;
    font-family: var(--poppins-font);
    padding: 5px;
    text-align: justify;
    height: auto;
    min-height: 50px;
    width: auto;
    max-width: 45%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(1) {
    top: 25%;
    left: 2%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(2) {
    top: 0%;
    left: 52%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(3) {
    top: 35%;
    left: 2%;
  }
  .homeHeader .presentationSection .cards .presCard:nth-child(4) {
    top: 10%;
    left: 52%;
  }
}
/*# sourceMappingURL=index.css.map */