@keyframes activeBtnIn {
  from {
    font-size: 1.2rem;
    color: var(--color-text);
  }
  to {
    color: var(--color-active);
    font-size: 1.5rem;
  }
}
@keyframes activeBtnOut {
  from {
    color: var(--color-active);
    font-size: 1.5rem;
  }
  to {
    font-size: 1.2rem;
    color: var(--color-text);
  }
}
.sectionsNav {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);

  a {
    margin-right: 1.3rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-text);
  }
  .active {
    color: var(--color-active);
    font-size: 1.5rem;
    animation: activeBtnIn 0.5s cubic-bezier(0.86, 0.47, 0.01, 0.75);
  }
}

@media screen and (min-width: 950px) {
  .sectionsNav {
    width: auto;
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
