.headerButtonContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .headerBtn {
    margin: 0 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--shadow-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--color-white-secondary);
    }
    svg {
      fill: #333;
      width: 25px;
      height: 25px;
    }
  }
}
@media screen and (min-width: 950px) {
  .headerButtonContainer {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .headerBtn {
      background-color: var(--color-white-secondary);
      box-shadow: none;
      width: 35px;
      height: 35px;
      &:hover {
        border: 1px solid var(--color-text);
      }
    }
  }
}
