.productCard {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: var(--background-color-2);

  .cardImg {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .productInfo {
    padding: 0.5rem 0.25rem;
    font-family: var(--poppins-font);
    color: var(--text-color-1);
  }
}
