@keyframes moveIn {
  from {
    height: 0;
    display: none;
  }
  to {
    height: max-content;
    display: flex;
  }
}

@keyframes moveOut {
  from {
    height: max-content;
    display: flex;
  }
  to {
    height: 0;
    display: none;
  }
}

.filterSection {
  width: 100%;
  height: max-content;

  #showFilterBtn {
    display: none;
    &:checked ~ .filterWrapper {
      height: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      animation: moveIn 0.8s ease;
    }
  }

  .showBtn {
    width: 50px;
    height: 50px;
    background-color: saddlebrown;
  }

  .filterWrapper {
    display: none;
    height: 0;
    width: 100%;
    animation: moveOut 0.8s ease;
    button.filterBtn {
      width: max-content;
      height: max-content;
      padding: 0.5rem 1.75rem;
      background-color: var(--main-color);
      color: #fff;
      text-transform: uppercase;
      font-family: var(--poppins-font);
      font-size: 1rem;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }

    button.filterIcon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      cursor: pointer;
      svg {
        fill: var(--text-color-1);
        width: 20px;
        height: 20px;
      }
    }
  }
}
