footer {
  height: 400px;
  width: 100%;
  margin-top: 4rem;
  padding: 3rem 2.5rem;
  background-color: var(--background-color-2);
  box-shadow: var(--shadow-3);
  font-family: var(--poppins-font);
  color: var(--text-color-1);
}
